@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family:"poppins";
}
nav{
  font-weight: 500;
  font-style: normal;
}


@keyframes scrollTitles {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scrollTitles {
  animation: scrollTitles 19s linear infinite;
}

@media (min-width: 640px) {
  .animate-scrollTitles {
    animation: scrollTitles 29s linear infinite;
  }
  
}
.text1{
  font-size: 30px;
 color: #FF7B42;
}
.slide3{
  margin-top: 80px;
}
.titre1{
  font-size: 30px;
}
/* Custom CSS to reduce gap between sections */
.section-container {
  margin-top: 2rem; /* Adjust top margin as needed */
  margin-bottom: 2rem; /* Adjust bottom margin as needed */
}

.carousel {
  margin-top: 1rem; /* Adjust top margin between sections */
}
.micro{
  background-color: #FF7B42;
  color: #F9F9F9;
}
@media (max-width: 640px) {
  /* Adjustments for smaller screens */
  .section-container {
    margin-top: 1rem; /* Reduce top margin */
    margin-bottom: 1rem; /* Reduce bottom margin */
  }

  .carousel {
    margin-top: 0.5rem; /* Further reduce top margin */
  }
}
.slide3 {
  padding: 0 2%; 
}
.cartee{
  background-color: #F9F9F9;
}

.catee>p{
  color: #F9F9F9;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.carte{
  text-align:justify;
}
.cardss{
  display: flex;
  justify-content: space-between;

}
.service{
  height: 331px;
  width: 567px;
}
.svg-container:hover svg path {
  fill: #ff6600; /* Change this to your desired hover color */
}